* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

:root {
  /* Shades of Green */
  --green-1: #51cf66;
  --green-2: #40c057;
  --green-3: #37b24d;
  --green-4: #2f9e44;
  --green-5: #2b8a3e;

  /* Shades of Lime, Incase green doesn't go */
  --lime-1: #94d82d;
  --lime-2: #82c91e;
  --lime-3: #74b816;
  --lime-4: #66a80f;
  --lime-5: #5c940d;

  /* We can try them out, any color that matches our design */

  --neutral-color: #fff;
  --bg-color: #212529;
  --shadow-color1: #adb5bd;
  --shadow-color2: #868e96;
  --shadow-color3: #495057;

  /* For the C value */
  --red-1: #f03e3e;
  --red-2: #e03131;

  /* Colors Gotten from Open-color.io */
}

body {
  font-family: sans-serif;
  width: 40%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
  background-color: var(--lime-2);
  
}



.numbers{
  background-color:#1b1f1f;
  color:mintcream;
  border-radius:50%;
  padding: 15px;
  height:40px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  /* font-weight: bold; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
  border: none;
}

.operators{
  background-color:#1b1f1f;
  color:#51cf66;
  border-radius:50%;
  padding: 15px;
  height:40px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  /* font-weight: bold; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
  border: none;
}

.equals-to{
  background-color:#51cf66;
  color:mintcream;
  border-radius:50%;
  padding: 15px;
  height:40px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  /* font-weight: bold; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
  border: none;
}

.bracket{
  background-color:#1b1f1f;
  color:#51cf66;
  border-radius:50%;
  padding: 15px;
  height:40px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  /* font-weight: bold; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
  border: none;
}

.clear{
  background-color:#1b1f1f;
  color:orangered;
  border-radius:50%;
  padding: 15px;
  height:40px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  /* font-weight: bold; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
  border: none;
}

.decimal{
  background-color:#1b1f1f;
  color:mintcream;
  border-radius:50%;
  padding: 15px;
  height:40px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  /* font-weight: bold; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
  border: none;
}