* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

:root {
  /* Shades of Green */
  --green-1: #51cf66;
  --green-2: #40c057;
  --green-3: #37b24d;
  --green-4: #2f9e44;
  --green-5: #2b8a3e;

  /* Shades of Lime, Incase green doesn't go */
  --lime-1: #94d82d;
  --lime-2: #82c91e;
  --lime-3: #74b816;
  --lime-4: #66a80f;
  --lime-5: #5c940d;

  /* We can try them out, any color that matches our design */

  --neutral-color: #fff;
  --bg-color: #212529;
  --shadow-color1: #adb5bd;
  --shadow-color2: #868e96;
  --shadow-color3: #495057;

  /* For the C value */
  --red-1: #f03e3e;
  --red-2: #e03131;

  /* Colors Gotten from Open-color.io */
}

body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  background-color: var(--gray-color);
}

.container {
  height: auto;
  width: auto;
  padding: 1em;
  border-radius: 12px;
  border: 2px solid var(--green-2);
  box-shadow: 0 0 30px var(--shadow-color3);
  background-color: var(--bg-color);
}

#display {
  margin: 0 0.5em;
  height: 4em;
  max-width: 11em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1.8rem;
  margin-bottom: 1em;
  overflow-x: scroll;
  color: var(--neutral-color);
}

#display::-webkit-scrollbar {
  display: block;
  height: 0.2em;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

button {
  background-color: var(--shadow-color3);
  color: var(--neutral-color);
  height: 3em;
  width: 3em;
  border: 0;
  border-radius: 35px;
  margin: 0.2em;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 600;
}

.text-h5 {
  position: fixed;
  bottom: 0.5em;
  right: 1em;
}

.operators {
  color: var(--green-1);
}

.equals-to {
  background-color: var(--green-1);
}

.bracket {
  color: var(--green-1);
}

.clear {
  color: var(--red-1);
}

button:hover {
  background: var(--shadow-color2);
}

.operators:hover,
.operators:focus {
  background: var(--neutral-color);
}

.equals-to:hover {
  background: var(--neutral-color);
  color: var(--green-1);
}
